section {
	width: 85%;
	background-color: white;
	padding: 20px;
	margin: 25px auto 0;
	margin-top: 50px;
}

#kesz_feladatsorok {
	margin: 20px;
}

#kesz_feladatsorok > li{
	width: 95%;
	padding: 10px;
	color: black;
	
}

#kesz_feladatsorok li li {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 5px;
	background-color: #ECF2E6;
	text-indent: 20px;
}

#kesz_feladatsorok li li:first-of-type {
	margin-top: 10px;
}

#kesz_feladatsorok li div {
	padding: 10px;
}


#kesz_feladatsorok a {
	color: black;
	font-weight: bold;
}

#kesz_feladatsorok a:hover{
	color: #032E01; 
	text-decoration: underline;
}
#kesz_feladatsorok li li p:nth-of-type(1){
	width: 30%;
}
#kesz_feladatsorok li li p:nth-of-type(2){
	width: 35%;
}
#kesz_feladatsorok li li p:nth-of-type(3){
	width: 35%;
}

section p {
	font-family: Times New Roman;
	line-height: 2;
	margin: 10px;
}
#ujznoteszt_div{
	display: none;
	position: absolute;
	top: 20%;
	right: 0;
	left: 0;
	background-color: white;
	width: 30%;
	border: 1px solid gray;
	margin: 25px auto;
	padding: 20px;
	border-radius: 10px;
}

#bezar_gomb {
	position: absolute;  
	top: 10px;           
	right: 10px;         
	cursor: pointer;
	font-size: 18px;     
	background-color: #EC2E0D;
	color: white;
	padding: 3px 6px;
}

form label {
	display: inline-block;
	margin: 5px 0;
}



#kuldes:hover {
	opacity: 0.75;
}

form > div:not(:first-of-type){
	display: none;
}

form input[type="number"], form select {
	padding: 5px;
	margin: 10px 0;
}

.szerk, .kozzetetel, .torles, .visszavonas {
	display: table;
	border: none;
	outline: none;
	padding: 7px 10px;
	cursor: pointer;
	color: #fff;
	border-radius: 10%;
	width: 33%;
	text-indent: 0!important;
	text-align: center;
}

.gombok_listaja{
	width: 14%;
	display: flex;
	flex-wrap: wrap;
}

.szerk{
	background-color: #F9EA0C;
}

.szerk i, .kozzetetel i, .torles i, .visszavonas i{
	color: #ffffff;
}

.kozzetetel {
	background-color: #24AD1F;
}

.torles {
	background-color: #EC2E0D;
}

.visszavonas {
	background-color: #1185E1;
}

.szerk:hover, .kozzetetel:hover, .torles:hover, .visszavonas:hover {
	opacity: 0.7;
}
.active {
	background-color: #035C10;
}

#hibajelzes {
	position: absolute;
	top: 11%;
	right: 0;
	left: 0;
	margin: 0 auto;
	width: fit-content;
	padding: 60px;
	background-color: #D9FDD2;
	border-bottom: 5px solid red;
	border-top: 5px solid red;
	font-size: 120%;
	font-style: italic;
	display: none;
}

.pelda_gomb {
	display:  inline-block;
	width: fit-content;
	padding: 5px;
	background-color: gray;
	color: #01451A;
	border: none;
	outline: none;
}
#torles_main{
	display: none;
	position: fixed;
	z-index: 100;
	top: 0%;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);

}
#torles_uzenet{
	position: fixed;
	display: none;
	width: 400px;
	top: 30%;
	right: 0;
	left: 0;
	background-color: white;
	width: 30%;
	border: 1px solid gray;
	margin: 25px auto;
	padding: 20px;
	border-radius: 10px;
}
#torles_uzenet p{
	margin: 20px 0;
	text-align: center;
}
#torles_uzenet_bezar{
	display: inline-block;
	width: fit-content;
	padding: 3px 6px;
	background-color: #EC2E0D;
	color: white;
	float: right;
	cursor: pointer;
	border-radius: 25%;
}
.torles_megse_gomb{
	float: right;
	padding: 7px 10px;
}
.torles_megerosit_gomb{
	padding: 7px 10px;
	font-weight: inherit!important;
	color: #fff!important;
	text-decoration: none!important;
}